.container-home {
    .container__content-1 {
        @apply relative top-0 left-0;
        background-color: #ffbb4a;
        background-image: linear-gradient(345deg, #ffbb4a 0%, #fff1d8 23%, #ffffff 51%);

        .btn-prev-slide,
        .btn-next-slide {
            @apply m-4 cursor-pointer;
        }

        .btn-next-slide {
            @apply absolute top-2/4 right-0;
            z-index: 996;
        }

        .btn-prev-slide {
            @apply absolute top-2/4 left-0;
            z-index: 996;
        }

        .swiper {
            .swiper-slide {
                height: 100%;

                .swiper-slide__content {
                    display: grid;
                    place-content: center;
                    grid-template-columns: 1fr 1fr;
                    height: 100%;
                    margin: 0 auto;

                    .swiper-slide__content--text {
                        @apply flex flex-col justify-center items-start;
                        width: 95%;
                        margin: auto;
                        height: 50%;
                        gap: 1em;
                        z-index: 997;
                        animation: slideInText 1s ease-out;

                        .button {
                            background-color: var(--color-btn-container-1-background);
                            padding: var(--padding-btn);
                            border-radius: var(--border-radius-btn);

                            .a {
                                text-decoration: none;
                                color: var(--color-btn-container-1-text);
                            }
                        }
                    }

                    .swiper-slide__content--img {
                        display: flex;
                        justify-content: end;
                        align-items: end;
                        width: 100%;
                        height: 35em;
                        /*CAMBIAR MAS ADELANTE*/
                        overflow: hidden;

                        img {
                            display: flex;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            display: block;
                            animation: slideInImg 1s ease-out;
                        }
                    }
                }
            }
        }

        .container__content-1--floating {
            position: absolute;
            bottom: -10%;
            left: 50%;
            border-radius: 14px;
            transform: translateX(-50%);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 1024px;
            height: auto;
            flex-wrap: wrap;
            height: 25%;
            margin: 0 auto;
            background-color: rgb(255, 255, 255);
            gap: 1em;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
            z-index: 996;

            .container__floating--inputs {
                display: grid;
                grid-template-columns: 1fr 1fr;
                justify-content: stretch;
                align-content: stretch;
                gap: 2em;
                width: 80%;

                .department,
                .district {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    gap: .5em;
                    width: 100%;

                    .select-district {
                        width: 100%;
                        padding: .5em 1em;
                        border: 1px solid black;
                        border-radius: 12px;
                    }
                }

                a {
                    background-color: var(--color-btn-container-1-background);
                    color: var(--color-btn-container-1-text);
                    padding: var(--padding-btn);
                    text-decoration: none;
                    @apply rounded-xl;
                }
            }
        }

    }

    .container__container-2 {
        margin-top: 5em;
        padding-bottom: 5em;
        background: hsla(0, 0%, 100%, 1);
        background: linear-gradient(270deg, hsla(0, 0%, 100%, 1) 50%, hsla(0, 0%, 20%, 1) 50%, hsla(0, 0%, 0%, 1) 100%);
        background: -moz-linear-gradient(270deg, hsla(0, 0%, 100%, 1) 50%, hsla(0, 0%, 20%, 1) 50%, hsla(0, 0%, 0%, 1) 100%);
        background: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, 1) 50%, hsla(0, 0%, 20%, 1) 50%, hsla(0, 0%, 0%, 1) 100%);

        .container__container-2--content {
            width: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            gap: 2em;

            .content {
                display: flex;
                flex-direction: column;
                gap: 2em;

                .content__title {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .left {
                        h2 {
                            color: black;
                        }

                        h3 {
                            font-weight: bold;
                        }

                        strong {
                            color: #ffbb4a;
                            font-size: 2em;
                        }
                    }

                    .right {
                        a {
                            display: flex;
                            gap: .5em;
                            color: black;
                            text-decoration: none;
                        }
                    }
                }

                .content__carrousel {
                    height: 100%;

                }
            }
        }
    }


    .container__container-3 {
        margin-top: 5em;

        .container__container-3--content {
            width: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            gap: 2em;

            .title {
                h3 {
                }
                h2 {
                    
                    strong {
                        color: #ffbb4a;
                        font-size: 2em;
                    }
                }
            }

            .content-items {
                width: 100%;

                .content-items__swiper-container {
                    height: 30em;

                    .content-items__swiper-container--swiper-slide {
                        .content-slide {
                            display: grid;
                            grid-template-columns: repeat(auto-fit,minmax(450px,1fr));
                            place-items: center;
                            gap: 2em;
                            width: 100%;
                            height: 100%;

                            .project-description {
                                display: flex;
                                justify-content: start;
                                align-items: start;
                                flex-direction: column;
                                width: 100%;
                                gap: 1em;

                                .location-project {
                                    display: flex;
                                    gap: .5em;
                                }

                                .min-max-values {
                                    display: flex;
                                    flex-direction: column;
                                    gap: .5em;
                                    .dimension {
                                        display: flex;
                                        justify-content: start;
                                        align-items: center;
                                        gap: .25em;
                                    }
                                    .price-max{
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        gap: 1em;
                                    }
                                }

                                .button-more-details {
                                    background-color: var(--color-btn-container-1-background);
                                    padding: var(--padding-btn);
                                    border-radius: var(--border-radius-btn);

                                    a {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        text-decoration: none;
                                        color: var(--color-btn-container-1-text);

                                    }
                                }
                            }

                            .content-imgs {
                                display: grid;
                                grid-template-columns: 2fr 1fr;
                                grid-template-rows: 1fr 1fr;
                                grid-template-areas: "principal secundary-1" "principal secundary-2";
                                gap: 1em;
                                height: 100%;

                                .content-imgs__principal {
                                    grid-area: principal;
                                    overflow: hidden;

                                    img {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: fill;
                                    }
                                }

                                .content-imgs__secundary-1 {
                                    grid-area: secundary-1;
                                    overflow: hidden;

                                    img {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: fill;
                                    }
                                }

                                .content-imgs__secundary-2 {
                                    overflow: hidden;
                                    grid-area: secundary-2;

                                    img {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: fill;
                                    }
                                }
                            }
                        }
                    }
                }

            }
        }
    }

    // .content-item {
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     margin-bottom: 1.5em;
    //     flex-wrap: wrap;
    // }


    .btn-whatsapp {
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 998;
        margin: 1.5em;
        bottom: 20px;
        right: 20px;
    }

    .btn-whatsapp:before,
    .btn-whatsapp:after {
        content: "";
        position: absolute;
        top: 2px;
        left: 4px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: #00e676;
        opacity: 0;
        animation: onda 1.7s infinite;
    }

    .btn-whatsapp:before {
        animation-delay: 1s;
    }

    .btn-whatsapp:after {
        animation-delay: 1.3s;
    }

    .btn-whatsapp img {
        position: relative;
        z-index: 2;
    }

}

@media screen and (min-width: 1200px) {
    .container-home {
        .container__content-1 {
            .swiper-slide__content {
                max-width: 1200px;
            }
        }

        .container__container-2 {
            .container__container-2--content {
                max-width: 1200px;
            }

        }

        .container__container-3 {
            .container__container-3--content {
                max-width: 1200px;

                .content-items {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .container-home {
        .container__content-1 {
            .swiper-slide__content {
                max-width: 90vw;
                height: max-content;

            }

            .container__content-1--floating {
                display: none;
            }
        }

        .container__container-2 {
            .container__container-2--content {
                padding-top: 0;
                padding-bottom: 0;
                max-width: 90vw;
            }
        }

        .container__container-3 {
            .container__container-3--content {
                max-width: 90vw;

                .content-items {
                    .content-items__swiper-container {
                        height: 60em;
                    }
                }

            }

        }
    }
}

@media screen and (max-width: 768px) {
    .container-home {
        .container__content-1 {

            .btn-prev-slide,
            .btn-next-slide {
                fill: #ffffff;
            }

            .swiper-slide__content {
                height: max-content;
                grid-template-columns: 1fr;

                .swiper-slide__content--text {
                    grid-column: 1 / 3;
                    grid-row: 1/2;
                    padding-left: 2em;

                    h1,h2,p {
                        color: rgb(255, 255, 255);
                    }
                }

                .swiper-slide__content--img {
                    .opacity {
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.5);
                    }

                    grid-column: 1 / 3;
                    grid-row: 1/2;

                }
            }

            .container__content-1--floating {
                display: none;
            }
        }

        .container__container-2 {
            .container__container-2--content {
                padding-top: 0;
                padding-bottom: 0;
                max-width: 90vw;
            }
        }

        .container__container-3 {
            .container__container-3--content {
                max-width: 90vw;

                .content-items {
                    .content-items__swiper-container {
                        height: 60em;
                        .content-items__swiper-container--swiper-slide {
                            .content-slide {
                                display: grid;

                                .content-imgs {
                                    grid-template-columns: 1fr 1fr;
                                    grid-template-rows: max-content max-content;
                                    grid-template-areas: "secundary-1 secundary-2"
                                        "principal principal";

                                        .content-imgs__principal {
                                        }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}