.header.fixed {
    background-color: #000000;

    .header__content {
        .header__content--left {
            .logo {
                svg {
                    .path-logo{
                        fill: white;
                    }
                }
            }

            .navegation {
                ul {
                    li {
                        a {
                            color: rgb(255, 255, 255);
                        }
                    }
                }
            }
        }
        .header__content--right {

            .contact {
                background-color: rgb(255, 255, 255);

                .contact-a {
                    color: rgb(0, 0, 0);

                    svg {
                        fill: rgb(0, 0, 0);
                    }
                }
            }
        }
    }
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 998;
    background-color: #ffffff00;
    transition: background-color 0.25s ease-in-out;

    .header__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-top: 1em;
        padding-bottom: 1em;
        margin-left: auto;
        margin-right: auto;

        .header__content--left {
            flex: 1;
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 2em;

            .logo {
                width: 20%;
                max-width: 15%;
                overflow: hidden;

                svg {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    display: block;
                    fill: white;
                }
            }

            .navegation {
                width: 80%;

                ul {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    gap: 1em;

                    li {
                        list-style: none;

                        a {
                            text-decoration: none;
                            color: black;
                            transition: color 0.2s ease-in-out;
                        }

                        a:hover {
                            color: #FCA311;
                        }
                    }

                }
            }
        }

        .header__content--right {
            display: flex;
            justify-content: center;
            align-items: center;

            .contact {
                padding: .5em 1em .5em 1em;
                border-radius: 16px;
                background-color: rgb(0, 0, 0);

                .contact-a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    color: rgb(255, 255, 255);
                    cursor: pointer;
                    gap: .5em;

                    svg {
                        fill: white;
                    }
                }
            }
        }

    }

}

.header-mobile {
    position: sticky;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    z-index: 998;
    background-color: white;
    transition: background-color 0.5s ease-in-out;

    .header-mobile__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: .5em auto;

        .header-mobile__content--left {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 2em;
            width: 50%;

            .logo {
                width: 10em;
                max-width: 100%;
                overflow: hidden;

                svg {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    display: block;

                    .path-logo-mobile {
                        fill: black;
                    }
                }
            }
        }


        .header__content--right {

            .menu-icon {
                cursor: pointer;
                margin-right: 10px;
                font-size: 2em;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                transition: transform 0.3s ease-in-out;
            }

        }


    }
}

.sidebar {
    position: fixed;
    right: 0;
    top: 0;
    width: 15em;
    height: 100%;
    background-color: #ffffff;
    padding: 20px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 999;
    overflow: scroll;


    .sidebar__header {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 20px;
    }

    .sidebar__header--close-icon {
        cursor: pointer;
        font-size: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000000;
        border-radius: 50%;
    }

    ul {
        text-align: center;
        list-style: none;
        padding: 2em;
    }

    li {
        padding: 1.5em;
        margin-bottom: 0.75em;
    }

    .status-project {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        font-size: 0.75em;
    }

    li {
        a {
            color: #000000;
            font-size: 1.25em;
            text-decoration: none;
        }

        a:hover {
            color: #FCA311;
        }
    }
}

.sidebar.mostrar {
    transform: translateX(0%);
}

@media screen and (min-width: 1200px) {
    .header__content {
        max-width: 1200px;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .header {
        display: none;
    }

    .header-mobile {
        display: flex;

        .header-mobile__content {
            max-width: 90%;
            padding: 0 auto;
        }
    }
}

@media (max-width: 768px) {
    .header {
        display: none;
    }

    .header-mobile {
        display: flex;

        .header-mobile__content {
            max-width: 90%;
            padding: 0 auto;
        }
    }
}